<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ssm.dao.TestRecordDao" >
  
  <!-- 查询所有试题 -->
  <select id="SelectTestRecord" resultType="com.ssm.entity.TestRecord">
  select * from t_testrecord
  </select>
  
  <select id="SelectQuestion" resultType="com.ssm.entity.Question">
  select * from t_library
  </select>
  
  <!-- 添加试卷 -->
  	<insert id="AddTestRecord" parameterType="com.ssm.entity.TestRecord" >
  	insert into t_testrecord (testid,testname,description,start,ends,libraryid,publish,testscore)
  	value(#{testid},#{testname},#{description},#{start},#{ends},#{libraryid},#{publish},#{testscore})
  	</insert>
  	
    	<!-- 查询一条试题 -->
  	<select id="FindQuestionBytid" resultType="com.ssm.entity.Question" parameterType="int">
  	select * from t_library where tid=#{tid}
  	</select>
  	
  	<update id="UpdateTestRecord">
  		update t_testrecord set libraryid=#{1},testscore=#{2} where testid=#{0}
  	</update>
  	
  	  	<update id="UpdateSetlibraryid">
  		update t_testrecord set libraryid=#{1} where testid=#{0}
  	</update>
  	
  	<!-- 删除一条数据 -->
  	<select id="DeleteTestRecordByid"  parameterType="int">
  	delete from t_testrecord where testid=#{id}
  	</select>
  	
  	<delete id="DeleteTestGrade" parameterType="int">
  		delete from t_testgrade where testid=#{id}
  	</delete>
  	
  	<update id="UpdatePublishByid">
  		update t_testrecord set publish=#{1} where testid=#{0}
  	</update>
  	
  		<!-- 查询一张试卷 -->
  	<select id="FindTestRecordByid" resultType="com.ssm.entity.TestRecord" parameterType="int">
  	select * from t_testrecord where testid=#{testid}
  	</select>
  	
  	<select id="FindUserBytype" resultType="com.ssm.entity.User" parameterType="String" >
  		select * from t_user where type=#{type}
  	</select>
  	
  	<!--  -->
  	<insert id="AddTestGrade" parameterType="com.ssm.entity.TestGrade">
  	insert into t_testgrade(testid,testname,username,grade,flag,submitdate)
  	value(#{testid},#{testname},#{username},#{grade},#{flag},#{submitdate})
  	</insert>
  	
  	<select id="SelectTestGrade" resultType="com.ssm.entity.TestGrade" >
  	select * from t_testgrade where testid=#{0}
  	</select>
  </mapper>